html {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
*, * :before, * :after {
box-sizing: inherit;
}
*{
margin: 0;
padding:0
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.hero-text,
.hero-img {
  display: flex;
  justify-content: center;
  flex: 1;flex-direction: column;
  align-items: center;
}

.header,
footer {
  padding: 16px 180px;
}

.header {
  background: #1f2937;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

.nav {
}

.nav>ul {
  display: flex;
  gap: 16px;
}

ul {
  list-style-type: none
}

.section-1,
.section-2 {
  padding: 96px 360px;
}

.hero,
.section-3 {
  padding: 96px 180px;
}

.hero {
  background: #1f2937;
  display: flex;
  align-items: center;
  padding: 96px 180px;
}

.hero-text>h1 {
  font-size: 48px;
  font-weight: 900;
  color: white;
}

.hero-text>button {
  background: #3882f6;
  color: #e5e7eb;
  font-weight: 600;
}

.hero-img>img {
  max-width: 480px;
}

.sign-up {
  margin: 8px;
  padding: 8px 16px;
}

.section-1>h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  padding: 32px;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel-item>img {
  width: 150px;
  height: 150px;
}

.section-2 {
  background: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}

.section-3 {

}

footer {
  background: #1f2937;
  color: white;
}

.header,
.hero-text>p {
  font-size: 18px;
  color: #e5e7eb;
}